<div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="close()">&times;</button>
        <h4 class="modal-title">sms 에러코드</h4>
    </div>
    <div class="modal-body">
        자세한거는 비지뿌리오(다우기술) 문서 참조하세요~~
        <pre>
4100 전달
4400 음영 지역
4401 단말기 전원 꺼짐
4402 단말기 메시지 저장 초과
4403 메시지 삭제 됨
4404 가입자 위치 정보 없음
4405 단말기 BUSY
4410 잘못된 번호
4420 기타에러
4430 스팸
4431 발송제한 수신거부(스팸)
4411 NPDB 에러
4412 착신거절
4413 SMSC 형식오류
4414 비가입자,결번,서비스정지
4421 타임아웃
4422 단말기일시정지
4423 단말기착신거부
4424 URL SMS 미지원폰
4425 단말기 호 처리중
4426 재시도한도초과
4427 기타 단말기 문제
4428 시스템에러
4432 회신번호 차단(개인)
4433 회신번호 차단(기업)
4434 회신번호 사전 등록제에 의한 미등록 차단
4435 KISA 신고 스팸 회신번호 차단
4436 회신번호 사전 등록제 번호규칙 위반
        </pre>    
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal" ng-click="close()">취소</button>
        
    </div>
    