<div class="modal-header">
	<button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="close()">&times;</button>
	<h4 class="modal-title">상품조회</h4>
</div>
<div class="modal-body">	
	<div class="container-fluid">
                
		<div class="row">
			<div class="col-md-4">
	        	<div class="contact-box center-version" style="height:auto;">
	
	                   
	
					<a style="position:relative;">
							<img class="img-circle" ng-src="{{item.thumbnail.thumbnailUrl}}">
	
	                        <h3 class="m-b-xs"><strong>{{item.title}}</strong></h3>
	
	                        <div class="font-bold" style="margin-bottom:20px;">{{item.summary}}</div>
	                        <div style="position:absolute; right:0px; bottom:0px;font-size: 14px;font-weight: 600;color: #ffffff; background-color: #1ab394; padding: 6px 12px;">{{item.salePrice|number}}원</div>
	                        
                            <div class="contact-box-footer">
		                        <div class="m-t-xs btn-group">
		                            <button class="btn btn-xs btn-white" ng-if="item.kind=='A'" ng-click="onGift('A')"><i class="fa fa-envelope"></i>배송선물</button>
		                            <button class="btn btn-xs btn-white" ng-click="onGift('B')"><i class="fa fa-phone"></i>핸드폰선물</button>
		                        </div>
		                    </div>    
	                        <div class="ibox">
		                        <div class="ibox-content">
		                            <strong>*배송으로 선물</strong><br>
		                            &nbsp;&nbsp;선택한 상품을 배송해드립니다.<br>
		                            <strong>*핸드폰으로 선물</strong><br>
		                            &nbsp;&nbsp;선택한 상품을 배송해드립니다.<br>
		                        </div>
	                        </div>
	
	                  </a>  
	                    
	
	                </div>
	
	        </div>
	        <div class="col-md-8">
	        	
	                    <div class="ibox" ng-repeat="desc in item.descList">
	                        <div class="ibox-content product-box" ng-if="desc.kind=='A'">
								
	                            <div>
	                                <img ng-src="{{desc.image.url}}" style="width:100%; height:auto;">
	                            </div>
	                            
	                        </div>
	                        <div class="ibox-content product-box" ng-if="desc.kind=='B'">
								
	                            <div>
	                                <img ng-src="{{desc.image.url}}" style="width:100%; height:auto;">
	                            </div>
	                            <div class="product-desc">
	                                <small class="text-muted">{{desc.content}}</small>
	                            </div>
	                        </div>
	                        <div class="ibox-content product-box" ng-if="desc.kind=='C'">
								
	                            <div class="product-desc">
	                                <small class="text-muted">{{desc.content}}</small>
	                            </div>
	                            <div>
	                                <img ng-src="{{desc.image.url}}" style="width:100%; height:auto;">
	                            </div>
	                            
	                        </div>
	                    </div>
	               
	     
	        </div>
	        
	        
		</div>
	</div>
</div>

<div class="modal-footer">
	<button type="button" class="btn btn-success" ng-click='close()'>확인</button>
</div>
	    
	    
<!--<div class="modal-header">
	<button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="close()">&times;</button>
	<h4 class="modal-title">상품조회</h4>
</div>
<div class="modal-body">	
	
	<div class="row">
	        <div class="col-lg-12">
	            <div class="ibox float-e-margins">
	                
	                <div class="ibox-content">
	                    <form method="post" ng-submit="formSubmit()" class="form-horizontal" name="myForm">
	                        <div class="form-group"><label class="col-sm-2 control-label">*카테고리</label>
	                            <div class="col-sm-2">
	                        			{{item.categoryName}}
	                        	
	                            </div>
	                        </div>
	                        <div class="hr-line-dashed"></div>
	                        <div class="form-group"><label class="col-sm-2 control-label">*상품명</label>
	                            <div class="col-sm-10">{{item.title}}</div>
	                        </div>
	                        <div class="hr-line-dashed"></div>
	                        <div class="form-group"><label class="col-sm-2 control-label">*상품형태</label>
	                        	<div class="col-sm-2"><select class="form-control" ng-options="code.key as code.name for code in myCache.get('goods.productType')" ng-model='item.productType' disabled>
					            	 </select>
					          	</div>
							</div>
	                        <div class="hr-line-dashed"></div>
	                        <div class="form-group"><label class="col-sm-2 control-label">*과세여부</label>
	                        	<div class="col-sm-2"><select class="form-control" ng-options="code.key as code.name for code in myCache.get('yn')" ng-model='item.taxYn' disabled>
					            	 </select>
					            </div>
							</div>
	                        <div class="hr-line-dashed"></div>
	                        <div class="form-group"><label class="col-sm-2 control-label">*썸네일</label>
	                        	<div class="col-sm-10"><img ng-src="{{item.thumbnail.thumbnailUrl}}">
	                        	
	                        	</div>
	                        </div>
	                        <div class="hr-line-dashed"></div>
	                        <div class="form-group"><label class="col-sm-2 control-label">*한줄소개</label>
	                        	<div class="col-sm-10">{{item.summary}}</div>
	                        </div>
	                        <div class="hr-line-dashed"></div>
	                        <div class="form-group"><label class="col-sm-2 control-label">*판매가격</label>
	                        	<div class="col-sm-10">{{item.salePrice | number}}원</div>
	                        </div>
	                        <div class="hr-line-dashed"></div>
	                        <div class="form-group"><label class="col-sm-2 control-label">*상태</label>
	                        	<div class="col-sm-2"><select class="form-control" ng-options="code.key as code.name for code in myCache.get('goods.status')" ng-model='item.status'disabled>
					            	 </select>
					            	 </div>
							</div>
	                        <div class="hr-line-dashed"></div>
	                        <div class="form-group"><label class="col-sm-2 control-label">*상세정보</label>
	                        	<div class="col-sm-10">
	                        		
	                        		<table class="table table-bordered" ng-repeat="desc in item.descList">
								    	
									    <tbody>
									    	<tr ng-if="desc.kind=='A'">
									        	<td><img ng-src="{{desc.image.thumbnailUrl}}"></td>
									         </tr>
									         <tr ng-if="desc.kind=='B'">
									        	<td><img ng-src="{{desc.image.thumbnailUrl}}"></td>
									         </tr>
									         <tr ng-if="desc.kind=='B'">
									        	<td>{{desc.content}}</td>
									         </tr>
									         <tr ng-if="desc.kind=='C'">
									        	<td>{{desc.content}}</td>
									         </tr>
									         <tr ng-if="desc.kind=='C'">
									        	<td><img ng-src="{{desc.image.thumbnailUrl}}"></td>
									         </tr>
									         
										</tbody>
									</table>
	                        	</div>
	                        </div>
	                        <div class="hr-line-dashed"></div>
	                        
	                        <div class="form-group"><label class="col-sm-2 control-label">*유의사항</label>
	                        	<div class="col-sm-10"><p ng-bind-html="policy.notes"><p></div>
	                        </div>
	                        <div class="hr-line-dashed"></div>
	                        
	                        <div class="form-group"><label class="col-sm-2 control-label">*이용안내</label>
	                        	<div class="col-sm-10"><p ng-bind-html="policy.information"><p></div>
	                        </div>
	                    </form>
	                </div>
	            </div>
	        </div>
	</div>
</div>

<div class="modal-footer">
	<button type="button" class="btn btn-success" ng-click='close()'>확인</button>
</div>
-->	    