<div oc-lazy-load="PresentTicketPayModule">
<div ng-controller="TicketPayCtrl">
<div class="row">
    
    
     <div class="row-md-12">
    	<div class="form-control">최종결제 금액 {{item.pay.fillPrice|number}}원</div> 
    </div>
     <div class="row-md-12" ng-if="item.pay.fillPrice>0">
    	<div class="form-control">결제</div>
    	<input type='radio' name=r1 value="card" ng-model="item.pay.method">신용카드
    	<input type='radio' name=r1 value="hp" ng-model="item.pay.method" ng-if="item.goods.taxYn=='Y'"><sapn  ng-if="item.goods.taxYn=='Y'">휴대폰</sapn>
    	
    	<br>
    	구매 완료시 MMS 발신번호는 고객센터 번호인 1500-1919 로 발송됩니다.
    	
    	<br>
    	고객님의 휴대번호(또는 대표번호)는 메시지 본문에 '보내시는 분 번호'로 표시됩니다.
    	
    	<br>
    	</br>
    	
		<button type='button' ng-click="tryOrder()" class="btn btn-primary">결제하기</button>
    </div>
    <div class="row-md-12" ng-if="item.pay.fillPrice==0">
    	
		<button type='button' ng-click="tryOrder()" class="btn btn-primary">완료</button>
    </div>
	    

</div>    

</div>
</div>