<div oc-lazy-load="ShopCategoryModule">
<div ng-controller="ShopCategoryCtrl">

	<div class="row wrapper border-bottom white-bg page-heading">
	    <div class="col-lg-10">
	        <h2>상점</h2>
	        <ol class="breadcrumb">
	            <li>
	                <a ui-sref="home">홈</a>
	            </li>
	            <li>
	                <a>상점</a>
	            </li>
	            <li class="active">
	                <strong>상품 카테고리</strong>
	            </li>
	        </ol>
	    </div>
	    <div class="col-lg-2">
	
	    </div>
	</div>
	<div class="wrapper wrapper-content animated fadeInRight ecommerce">
	
	    <div class="row">
	        <div class="col-lg-12">
	            <div class="ibox">
	            	<div class="ibox-title">
                            <h5>상품 카테고리</h5>
                               
                    </div>
	            
	                <div class="ibox-content">
                        
	                    <div id="treeview1" class="text-left"></div>
	                </div>
	            </div>
	        </div>
	    </div>
	
	
	</div>
</div>
</div>
<div id="contextMenu" class="dropdown clearfix">
                            <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu" style="display:block;position:static;margin-bottom:5px;">
                            <li id='skwd' class='skwd'><span tabindex="-1" style='cursor:pointer;padding-left:20px;'>2차카테고리추가</span></li>
                            <li class="divider skwd"></li>
                            <li class="manufacture"><span tabindex="-1" style='cursor:pointer;padding-left:20px;'>정보</span></li>
                            <li class="divider"></li>
                            <li><span tabindex="-1" style='cursor:pointer;padding-left:20px;'>수정하기</span></li>
                            <li><span tabindex="-1" style='cursor:pointer;padding-left:20px;'>삭제하기</span></li>
                            </ul>
                        </div>