<div class="row">
	<div class="col-md-12 col-md-offset-3" style="margin-top:100px;height:100px;">
		<div class="radio radio-inline">
	        <input type="radio" id="inlineRadio2" value="A" name="radioInline" ng-model="item.cakes.packageKind">
	        <label for="inlineRadio2"> 성인 패키지  </label>
	    </div>
		<div class="radio radio-info radio-inline">
	        <input type="radio" id="inlineRadio1" value="B" name="radioInline" ng-model="item.cakes.packageKind">
	        <label for="inlineRadio1"> 어린이 패키지 </label>
	    </div>
	    
	</div>
</div>