<div oc-lazy-load="SellerEditModule">
<div ng-controller="EditCtrl">
	<div class="row wrapper border-bottom white-bg page-heading">
	    <div class="col-lg-10">
	        <h2>Basic Form</h2>
	        <ol class="breadcrumb">
	            <li>
	                <a href="index.html">Home</a>
	            </li>
	            <li>
	                <a>Forms</a>
	            </li>
	            <li class="active">
	                <strong>회원수정</strong>
	            </li>
	        </ol>
	    </div>
	    <div class="col-lg-2">
	
	    </div>
	</div>
	<div class="wrapper wrapper-content animated fadeInRight">
	    
	    <div class="row">
	        <div class="col-lg-12">
	            <div class="ibox float-e-margins">
	                <div class="ibox-title">
	                    <h5>회원 수정 
	                        <small>* 는 필수항목입니다.</small>
	                    </h5>
	                    
	                </div>
	                <div class="ibox-content">
	                    <form method="post" class="form-horizontal" ng-submit="formSubmit()" name="myForm">
	                        <div class="form-group"><label class="col-sm-2 control-label">*아이디</label>
		                            <div class="col-sm-10"><input type="text"  ng-model="item.userId" class="form-control" readOnly></div>
		                     </div>
		                    
	                        <div class="hr-line-dashed"></div>
	                        <div class="form-group"><label class="col-sm-2 control-label">*전화번호</label>
	                            <div class="col-sm-10"><input type="text"  ng-model="item.hp" class="form-control" readOnly></div>
	                        </div>
	                        <div class="hr-line-dashed"></div>
	                        <div class="form-group"><label class="col-sm-2 control-label">*앱아이디</label>
	                            <div class="col-sm-10"><input type="text"  ng-model="item.regId" class="form-control" readOnly></div>
	                        </div>
	                        <div class="hr-line-dashed"></div>
							<div class="form-group"><label class="col-sm-2 control-label">*이메일</label>
	
	                            <div class="col-sm-10"><input type="text"  ng-model="item.email" class="form-control" readOnly></div>
	                        </div>
	                        <div class="hr-line-dashed"></div>
							<div class="form-group"><label class="col-sm-2 control-label">*사용자유형</label>
	
	                            <div class="col-sm-2">
	                            	<select class="form-control" ng-options="code.key as code.name for code in myCache.get('member.memberType')" ng-model='item.memberType' disabled>
	                            	</select>
								</div>
	                        </div>
	                        <div class="hr-line-dashed"></div>
							<div class="form-group"><label class="col-sm-2 control-label">*상태</label>
								
	                            <div class="col-sm-2">
	                            
	                            	<select class="form-control" ng-options="code.key as code.name for code in myCache.get('member.status')" ng-model='item.status'>
	                            	</select>
	                            	
								</div>
	                        </div>
	                        <div class="hr-line-dashed"></div>
	                        <div class="form-group"><label class="col-sm-2 control-label">*매체</label>
								
	                            <div class="col-sm-2">
	                            
	                            	<select class="form-control" ng-options="code.key as code.name for code in myCache.get('member.media')" ng-model='item.media' disabled>
	                            	</select>
	                            	
								</div>
	                        </div>
	                        <div class="hr-line-dashed"></div>
	                        <div class="form-group">
	                            <div class="col-sm-4 col-sm-offset-2">
	                                <button class="btn btn-white" type="button" ng-click="back()">취소</button>
	                                <button class="btn btn-primary" type="submit">확인</button>
	                            </div>
	                        </div>
	                    </form>
	                </div>
	            </div>
	        </div>
	    </div>
	</div>
</div>
</div>